page-login {
  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

  .centered-card{
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }
}
