<ion-header>

  <ion-navbar>
    <ion-title>call page</ion-title>
    <button class="button button-icon icon"
            ng-class="{ 'ion-ios7-mic-off': muted, 'ion-ios7-mic': !muted }"
            ng-click="toggleMute()"
            ng-if="cordova.platformId === 'ios' || cordova.platformId === 'android'"></button>
    <button class="button button-icon icon ion-plus-round"
            ng-click="openSelectContactModal()"></button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>{{url}}</div>
  <div>{{ws}}</div>



</ion-content>
